<!-- userDetails.ejs -->
<%- include('layout/header',{ title: '404' })  %>
<meta name="theme-color" content=" #d72328 ">
<style>
    body{
        overflow: hidden;
    }
    .icon-tog{
        pointer-events: none;
        display: visible;
        background-color:#d72328;
        border-color:#d72328 ;
    }
    .navbar-toggler-icon{
        display: inline;
        }
     
</style>
<body>
    
    <h1>Sorry, the Employee you are looking for does not Work here anymore</h1>
    <!-- You can include additional content or links here -->
    
</body>
</html>
