<!-- userDetails.ejs -->
<%- include('layout/header',{ title: '404' })  %>
<meta name="theme-color" content=" #d72328 ">
<style>
    body{
        overflow: hidden;
    }
    .icon-tog{
        pointer-events: none;
        display: visible;
        background-color:#d72328;
        border-color:#d72328 ;
    }
    .navbar-toggler-icon{
        display: inline;
        }
     
</style>
<body>
    <div class="wrap">

    <div class="exclamation"><i class="fa-solid fa-exclamation"></i></div>
   <div class="text_reach">
    <h1 class="err1">Sorry, the Employee you are looking for does not Work here anymore</h1>
    <h3 class="err1">You can reach us using</h3>
   
</div>
    <!-- You can include additional content or links here -->
    <div class="reach">
        <a href="mailto:support@swissbake.in" class="btn btn-primary btn-block"> <i class="fa-solid fa-envelope-open"></i></a>
        <a class="btn btn-primary btn-block" href="https://wa.me/+919892053259?text=Hello SwissBake I'm reaching out to explore more about your Products" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
        <a href="tel:02235293529" class="btn btn-primary btn-block"><i class="fa-sharp fa-solid fa-phone"></i></a>
    
    </div>
</div>
</body>
</html>
