


.banner-text{
    position: relative;
    top:20px;
    text-align: left;
    left: 2rem;
}

.card1{
    background-color: whitesmoke;
    align-items: center;
    justify-content: center;
    
}

.btn{
    color: #d72328;
    background-color: white;
    border-color: #c72c41;
    
    
}
.btn:hover{
   
    color: white;
    background-color: #d72328;
    border-color: #c72c41;
}

body{
    background-image: url('/images/AI_shriyash-min.webp');
    background-size: cover; 
  background-repeat: no-repeat; 

}

.card_details{
    text-align: left;
}

.card1{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card-title{
    color: #d72328;
    font-size: 30px;
    

}

.designation{
    font-family: 'Caveat';font-size: 30px;
}

.image{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius:15%;
    border-style: solid;
    border-color: #d72328 ;
    z-index: 1;
}

#openWhatsAppBtn{
    color: #d72328;
    background-color: white;
    border-color: #c72c41;

}

#openWhatsAppBtn:hover{
    color: white;
    background-color: #d72328;
    border-color: #c72c41;
}

.red{
    width: 176px;
    height: 107px;
    background-color: #d72328;
    top: -8rem;
    position: relative;
    border-radius: 20px
}

.employee-bdy{
    position: relative;
    top: -6rem;
}

.logo{
    width: 52px;
    height: 52px;
    position: relative;
    left: -4rem;
    top: 3.5rem;
}

.fa-solid {
    font-size: 30px;
    
}
.fa-brands{
    font-size: 30px;
    
}

.fa-phone{
    font-size: 30px;
    
}
.icon-tog{
    color: white;
    background-color: white;
}

.custom-navbar {
    background-color: #d72328;
}
.icon{
    color: white;
}
.name {
    color: white;
}